/*
.d3-component svg {
  background: #ddd;
  max-height: 400px;
}

@media all and (max-width: 1000px) {
  .d3-component svg {
    max-height: 400px;
  }
} */

/*
p {
  background-color: white;
  /* color: #377eb8ff;
  /* font-family: "Times New Roman", Times, serif;
}
*/

h1 {
  font-size: 2em;
  margin: 0.67em 0;
  font-family:"Futura" ;
  margin: 0;
  padding: 20px 0;
}

h2 {
  font-family:"Futura" ;
}
p {
}

/* .d3-component {
  background-color: #DEDBDE;
} */

.pseudocodeBox {
  fill:#DEDBDE;
}

.text.elements{
  font-size:25;
  fill:"red";
}

/* Put your custom styles here */

/* Corrections for fixed component layout. */
.fixed2 {
  flex-direction: column;
  align-items: left;
  justify-content: center;
}


/* Action link styling. */
.idyll-action {
  /* background-color: rgb(222,235,247); */
  font-weight: 500;
  /* border-bottom: 1px dashed #888; */
  cursor: pointer;
  color: rgb(49,130,189);
}

.idyll-action:hover {
  /* border-bottom: 1px dashed firebrick; */
  color: firebrick;
}


:root{
  --color0: #f1eef6;
  --color1: #bdc9e1;
  --color2: #74a9cf;
  --color3: #2b8cbe;
  --color4: #034e7d;
  --color5: #000C43;
  --color6: rgb(227,74,51);
  --color7: #000000;
}
.pscrahmen {
  color: var(--color0);
}
.horizontalHighlight {
  fill: #FFD700;
}
.verticalHighlight {
  fill: #FFD700;
}
.vertOnComparator{
  stroke: var(--color2);
}
.closeVertOnComparator{
  stroke: var(--color2);
}
.horizOnComparator{
  stroke: var(--color2);
}
.closeHorizOnComparator{
  stroke: var(--color2);
}
.onComparator{
  fill: var(--color4);
  r: 30;
}
.belowCurrent{
  fill: var(--color4);
}

@media all and (max-width: 1000px) {
  /* put your css styles in here */
  .desktop {
    display: none;
  }
  .relative {
    position: static;
  }
  .aside {
    position: static;
    width: 100%;
    right: 0;
  }

  .hed {
    width: 100%;
  }

  .idyll-root {
    padding: 15px 0;
  }

  .idyll-root {
    width: 90vw;
    max-width: 600px;
    margin: 0 auto;
    padding-bottom: 80vh;
  }
  .fixed {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100vw;
    top: initial;
    background: white;
    padding: 20px 0;
    border-top: solid 2px black;
  }
}

.fixed {
  position: fixed;
  display: flex;
  align-self: center;
  /*flex-direction: column;*/
  align-items: center;
  right: 25px;
  top: 0;
  bottom: 0;
  width: calc((80vw - 600px) - 50px);
}

.fixed div {
  width: 100%;
}

@media all and (max-width: 1600px) {
  .idyll-root {
    margin-left: 100px;
  }

  .fixed {
    width: calc((85vw - 600px) - 50px);
  }
}

.article-header {
  width: 800px;
  max-width: 90vw;
  margin-bottom: 60px;
}

.idyll-text-container{
  max-width: 800px;
  width: 800px;
}
